<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" alt="Description" width="112" height="100">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        {{#link-to "index"}}
          Home
        {{/link-to}}
      </a>
      <a class="navbar-item">
        {{#link-to "about"}}
          About
        {{/link-to}}
      </a>
      <a class="navbar-item">
        {{#link-to "contact"}}
          Contact
        {{/link-to}}
      </a>
      {{#if loggedIn}}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Profile
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/challenges">
            Challenges
          </a>
          <a class="navbar-item" href="/settings">
            Settings
          </a>
          <a class="navbar-item" href="/logout">
            Logout
          </a>
        </div>
      </div>
      {{/if}}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-success" href="https://github.com/jgthms/bulma/releases/download/0.7.1/bulma-0.7.1.zip">
              <span>Donate</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
